
body {
    font-family: Arial, sans-serif;
    background-color:white;
    margin: 100px;
    padding: 20px;
}

header {
    background-color: greenyellow;
    color: black;
    padding: 15px 0;
    text-align: center;
}