

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

h2 {
    color: #4CAF50;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.foto-perfil {
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

#musicas ul {
    list-style-type: none;
    padding: 0;
}

#musicas ul li {
    margin: 10px 0;
}

#musicas a {
    text-decoration: none;
    color: #4CAF50;
    font-size: 18px;
}

#musicas img {
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.video {
    margin: 20px 0;
    text-align: center;
}

ul li a {
    color: #333;
    text-decoration: none;
}

ul li a:hover {
    color: #4CAF50;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
